<form>
  <h3>Curso Angular 8</h3>
  <div class="form-group">
    <label for="login" class="form-label">Email:</label>
    <input type="email" class="form-control" [(ngModel)]="usuario.login" id="login" aria-describedby="emailHelp" name="login" required>
  </div>
  <div class="form-group">
    <label for="senha" class="form-label">Password</label>
    <input type="password" class="form-control" [(ngModel)]="usuario.senha" id="senha" name="senha" required>
  </div>

  <button type="button" class="btn btn-primary" (click)="login()">Submit</button>
</form>